*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header-banner{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}
.header-item{
    display: flex;
    justify-content: center;
}
.header-item .img{
    width: 37px;
    height: 36px;
}
.header-item .img-car{
    width: 52px;
    height: 32px;
}
.header-text-item{
    margin-left: 15px;
    line-height: 1;
}
.header-text-item .header-text{
    font-size: 14px;
    font-weight: 700;
    color:#FFF
}
.header-text-item .header-text-bottom{
    font-size: 12px;
    color: #999;
}
.content{
    background-color: #f2f2f2;
}
.container{
    background-color: #FFF;
    padding:0 20px;
}
.content .top-content{
    display: flex;
    justify-content: space-between;
}
.content .top-content .top-left-content{
    display: flex;
    justify-content: flex-start;
}
.content .top-content .top-left-content .flag{
    margin-right: 10px;
}
.content .top-content .top-right-content{
    display: flex;
    justify-content: flex-end;
}
.top-right-content .item-top-right{
    padding: 0 10px;
}
.top-right-content .item-top-right i,span{
    color:#bcbdc7;
    font-size: 12px;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.top-menu .market h3{
    text-transform: uppercase;
    font-size: 34px;
}
.top-menu .market h4{
    font-size: 12px;
    color:#999999;
    white-space: 2px;
}
.search{
    position: relative;
    top: -30px;
    float: right;
    border-color: #dddddd;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 12px;
}
.menu .list-menu-left,.list-menu-right{
    display: flex;
}
.menu .list-menu-left,.list-menu-right li{
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color:#919191;
}
.menu .list-menu-left li{
    padding: 5px 10px;
}
.menu .list-menu-right li{
    padding: 5px 10px;
}
.img-bg{
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: space-between;
}
.img-bg img{
    width: 100%;
    height: 100%;
}
.img-bg .img-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.brand{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 167px;
}
.brand .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
.category .item-category{
    position: relative;
}
.category img{
    width: 95%;
}
.category .cover-name-category{
    width: 220px;
    position: absolute;
    background-color:#000;
    opacity: 0.5;
    padding:5px 0;
    left: 50%;
    bottom: 15%;
    margin-left: -110px;
    display: flex;
    justify-content: center;
}
.category .cover-name-category span{
    color:white;
    font-weight: bold;
    font-size: 18px;
}
.arrival .title{
    color:#222;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.arrival .list-arrival{
    display: flex;
    justify-content: center;
}
.arrival .list-arrival .item-arrival{
    padding:0 50px;
    text-align: center;
}
.arrival .list-arrival .item-arrival .cover-img-arrival{
    height: 240px;
}
.arrival .list-arrival .item-arrival .info-arrival .name{
    color:#222;
    font-weight: 500;
    font-size: 14px;
}
.arrival .list-arrival .item-arrival .info-arrival .price{
    color:#e74c3c;
    font-size: 16px;
}
.arrival .list-arrival .item-arrival .info-arrival .discount{
    color:#999999;
    font-size: 12px;
    text-decoration: line-through;
}
.img-decoration{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.img-decoration .item-img img{
    width: 100%;
    height: 100%;
}
.bottom-content{
    display: flex;
    justify-content: center;
}
.bottom-content .this-week,.keep-in-touch{
    padding:30px
}
.follow{
    text-align: center;
}
.footer{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.final{
    padding:10px 0;
    display: grid;
    grid-template-columns: 70% 30%;
}
.final .x{
    position: relative;
    left: 15%;
}

@media (max-width : 600px){
    .menu .list-menu-left,.list-menu-right{
        display: flex;
        flex-direction: column;
    }
    .search{
        position: static;
        float: none;
        border-color: #dddddd;
        border-radius: 20px;
        font-size: 12px;
        padding: 5px 12px;
    }
    .img-bg .img-right{
        margin-left: auto;
    }
    .brand{
        height: auto;
    }
    .arrival .list-arrival{
        width: 100%;
        overflow-x: scroll;
    }
}