$emailbg: hsl(217, 27%, 15%);
$mainbg: hsl(218, 28%, 13%);
$footerbg: hsl(216, 53%, 9%);
$testbg: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightred: hsl(0, 100%, 63%);

$font-titles: "Raleway", sans-serif;
$font-body: "Open Sans", sans-serif;


$breakpoints: (
  small: 499px,
  medium: 899px,
  large: 999px,
  xlarge: 1399px,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);
  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
